<div id="tab-vesync">
    <div class="row-fluid">
        <h3>Vesync Devices</h3>
    </div>
    <table>
        <thead><tr>
            <th>Device Name</th>
            <th>Action</th>
        </tr></thead>
            <tbody data-bind="foreach: devices">
                <tr>
                    <td data-bind="text: name"></td>
                    <td><a data-bind="text: action, click: (function() {console.error('test')})"></a></td>
                </tr>
            </tbody>
        <tbody></tbody>
    </table>
</div>